$topZIndex: 99999px;
$buttomZIndex: -99999px;

.app-wrapper {
  overflow: hidden;
}
.left-wrapper {
  transition: width 0.28s;
  float: left;
  margin-bottom: $buttomZIndex;
  padding-bottom: $topZIndex;
  overflow: hidden;
}

.main-wrapper {
  margin-bottom: $buttomZIndex;
  padding-bottom: $topZIndex;
}

.all-transition {
  transition: margin-left 0.28s;
}
